main {
    width: 100vw;
    height: auto;
    display: flex;
    width: 83svw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about h1 {
    font-size: clamp(50px, 10vw, 100px);
    letter-spacing: -.05em;
    padding-bottom: 50px;
    text-align: center;
}

.about-ind-container {
    width: 83vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 1.25em;
}

@media (max-width: 600px) {
    .about-ind-container {
        grid-template-columns: 200px;
    }
}

.about-ind-container article {
    width: 200px;
}


.pfp {
    width: 100px;
}

.email {
    text-decoration: underline;
}