main {
    width: 100vw;
    height: auto;
    display: flex;
    width: 83svw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1 {
    font-size: clamp(50px, 10vw, 100px);
    letter-spacing: -.05em;
    padding-bottom: 50px;
    text-align: center;
}

.about-ind-container {
    width: 83vw;
    text-align: justify;
    align-items: end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    justify-items: center;
    text-align: center;
}

.about-ind-container article {
    width: 200px;
}


.pfp {
    width: 100px;
}

.email {
    text-decoration: underline;
}