/* font import :) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#contact-hamburger {
    display: none;
    font-weight: 700;
}
.hamburger:focus {
    outline: none;
}

.hamburger {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 24px;
    display: none;
}
.hamburger:focus {
    outline: none;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 100;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10% 30px 10%;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    height: 100px;
}

.navlinks {
    list-style: none;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    padding: 0.5em;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

#fi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}


.logo {
    width: 5em;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

#contact {
    padding: 1em 1.5em;
    background-color: white;
    font-style: italic;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#contact:hover {
    background-color: rgba(197, 197, 197, 0.85);
}

main {
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: center;
    min-height: 85vh;
    padding-top: 150px;
}


.main-title {
    font-family: 'Inter', sans-serif;
    width: 40vw;
    align-self: center;
    padding-left: 10vh;
    justify-self: center;
    font-size: 2.5rem;
    font-weight: 600vw;
}

.vcards {
    width: 60vw;
    font-family: 'Inter', sans-serif;
    display: grid;
    font-size: 1.25rem;
    grid-template-columns: 30vw 30vw;
    align-items: center;
    min-height: 100vh;
}

.vcards article {
    width: 30vw;
}


footer {
    width: 100vw;
    height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#footer-info {
    width: 80vw;
    height: 30vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    color: white;
}

#contact-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#xtra-info {
    font-size: 1rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-decoration: none;
    color: white;
}

#socials {
    display: flex;
    height: 50vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

#socials a {
    text-decoration: none;
}

#socials a img {
    width: 2em;
}

#title, #copyright {
    animation: none;
}


footer ul {
    list-style: none;
    text-align: center;
}

li a {
    color:white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

a:hover {
    animation: shake 00.75s;
}

footer {
    width: 100vw;
    height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-info {
    width: 80vw;
    height: 30vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    color: white;
}

#contact-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#xtra-info {
    font-size: 1rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-decoration: none;
    color: white;
}

#socials {
    display: flex;
    height: 50vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

#socials a {
    text-decoration: none;
}

#socials a img {
    width: 2em;
}


@media screen and (max-width: 800px) {
    .vcards {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #description-container {
        animation: none;
        flex-direction: column;
        align-items: center;
        min-height: 96vh;

    }

    #description {
        width: 90%;
        padding: 1em 0 1em 0;
    }

    #description-image {
        width: 90%;
        max-width: none;
    }

    main {
        flex-direction: column;
    }

    .main-title {
        width: 90vw;
        padding: 10vh 0 6vh 0;
    }

    .main-description {
        width: 80vw;
        text-align: left;
    }

    #publications-info {
        height: auto;
    }

    #publications-container {
        flex-direction: column;
        max-height: none;
        padding: 1em 0 1em 0;
    }

    #publications-about {
        width: 90%;
    }

    #publications-links {
        height: 30vh;
        width: 80%;
        align-self: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 1fr 1.5fr;
        grid-template-areas:
            "buffer1 buffer1"
            "link1 link2"
            "buffer2 buffer2";
    }
    #link1, #link2 {
        width: 100%;
        display: flex;
    }
    #center-link1, #center-link2 {
        align-items: center;
        width: 80%;
        justify-content: center;
    }

    .arrow-link {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    header {
        position: fixed;
        width: 100%;
        height: 15vh;
        z-index: 99;
        top: 0;
    }
    
    #publications-links {
        width: 80%;
        align-self: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "link1"
            "link2";
    }
    #link1, #link2 {
        width: 100%;
        display: flex;
    }
    #center-link1, #center-link2 {
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    header {
        position: fixed;
        width: 100%;
        height: 15vh;
        z-index: 99;
        top: 0;
    }

    #contact-hamburger {
        display: inline;
    }

    .hamburger {
        display: block;
    }

    .navlinks {
        flex-direction: column;
    }
    .navlinks, .cta {display: none;}
    .navlinks.show {
        display: flex;
        position: fixed;
        font-size: 1.2rem;
        top: 15vh;
        left: 0;
        text-align: center;
        justify-content: center;
        background-color: black;
        color: white;
        width: 100%;
        height: auto;
        min-height: 50vh;
        border-radius: 0 0 100px 100px;
        border: 5px solid black;
        padding: 0;
    }

    .navlinks.show li {
        margin-bottom:2.5em;
    }

    .navlinks.show .full {
        padding: 0;
    }

    .navlinks.show li a {
        color: black;
        background-color: white;
        padding: 0.75em 1em 0.75em 1em;
        border-radius: 50px;
    }
    #lan {
        display: block;
    }
    #fi {
        color: white;
        background-color: black;
        padding: 0;
        font-size: 1.3rem;
    }
}


#title, #copyright {
    animation: none;
}

.vcards article {
    padding-bottom: 3vh;
}

@media screen and (max-width: 550px) {
    #footer-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact-us {
        margin-bottom: 60px;
    }
}