/* font import :) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#contact-hamburger {
    display: none;
    font-weight: 700;
}
.hamburger:focus {
    outline: none;
}

.hamburger {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 24px;
    display: none;
}
.hamburger:focus {
    outline: none;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 100;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10% 30px 10%;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    height: 100px;
}

.navlinks {
    list-style: none;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    padding: 0.5em;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

#fi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}


.logo {
    width: 5em;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

#contact {
    padding: 1em 1.5em;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
}

#contact:hover {
    background-color: rgba(197, 197, 197, 0.85);
}

main {
    display: flex;
    height: auto;
    width: 100vw;
    height: auto;
    padding-top: 20vh;
    justify-content: space-between;
}


.main-title {
    font-family: 'Inter', sans-serif;
    align-self: center;
    padding-left: 10vh;
    justify-self: center;
    font-size: 2.5rem;
    height: 50vh;
    font-weight: 600vw;
}

.vcards {
    width: 85%;
    font-family: 'Inter', sans-serif;
    display: flex;
    font-size: 1.25rem;
    justify-content: space-evenly;
    align-items: center;
}

.vcards article {
    width: 20vw;
}


footer {
    width: 100vw;
    height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#footer-info {
    width: 80vw;
    height: 30vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    color: white;
}

#contact-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#xtra-info {
    font-size: 1rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-decoration: none;
    color: white;
}

#socials {
    display: flex;
    height: 50vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

#socials a {
    text-decoration: none;
}

#socials a img {
    width: 2em;
}

#title, #copyright {
    animation: none;
}


footer ul {
    list-style: none;
    text-align: center;
}

li a {
    color:white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

a:hover {
    animation: shake 00.75s;
}

footer {
    width: 100vw;
    height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-info {
    width: 80vw;
    height: 30vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    color: white;
}

#contact-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#xtra-info {
    font-size: 1rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-decoration: none;
    color: white;
}

#socials {
    display: flex;
    height: 50vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

#socials a {
    text-decoration: none;
}

#socials a img {
    width: 2em;
}

#news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.25em;
}


.htitle-vc {
    font-weight: 500;
    font-style: italic;
    font-size: 1.25rem;
}

.members-wrapper {
    height: auto;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 5vh 0 5vh 0;
}

.researchers, .students {
    font-family: 'Inter', sans-serif;
    width: 20vw;}

h2 {
    font-size: 2rem;
}

.researchers h5, .students h5 {
    font-size: 1rem;
    font-weight: 500;
}

.researchers ul li p, .students ul li p {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.members {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title, #copyright {
    animation: none;
}

.vcards article {
    padding-bottom: 3vh;
}
@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
    }

    .main-title {
        width: 90vw;
        padding: 10vh 0 6vh 0;
        height: auto;
        text-align: center;
        font-size: 4rem;
    }

    header {
        position: fixed;
        width: 100%;
        height: 15vh;
        z-index: 99;
        top: 0;
    }

    #contact-hamburger {
        display: inline;
    }

    .hamburger {
        display: block;
    }

    .navlinks {
        flex-direction: column;
    }
    .navlinks, .cta {display: none;}
    .navlinks.show {
        display: flex;
        position: fixed;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        font-size: 1.2rem;
        top: 15vh;
        left: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        width: 100%;
        height: auto;
        min-height: 50vh;
        border-radius: 0 0 100px 100px;
        border: 5px solid black;
        padding: 0;
        gap: 1.15em;
    }

    .navlinks.show li {
        display: flex;
    }

    .navlinks.show .full {
        padding: 0;
    }

    .navlinks.show li a {
        color: black;
        background-color: white;
        padding: 0.75em 1em 0.75em 1em;
        border-radius: 50px;
    }
    #lan {
        display: block;
    }
    #fi {
        color: white;
        background-color: black;
        padding: 0;
        font-size: 1.3rem;
        margin: 1em 0 0.75em 0;
    }
    .members {
        width: 100%;
    }
}
@media screen and (max-width:850px) {
.members {
    width: 100%;
}

main {
    width: 100vw;
}
.vcards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.vcards article {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}
.members-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 5vh 0 5vh 0;
}
}

@media screen and (max-width: 550px) {
    #footer-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact-us {
        margin-bottom: 60px;
    }
}
