/* font import :) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#contact-hamburger {
    display: none;
    font-weight: 700;
}
.hamburger:focus {
    outline: none;
}

.hamburger {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 24px;
    display: none;
}
.hamburger:focus {
    outline: none;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 100;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10% 30px 10%;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    height: 100px;
}

.navlinks {
    list-style: none;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    padding: 0.5em;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

#fi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}


.logo {
    width: 5em;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

#contact {
    padding: 1em 1.5em;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
}

#contact:hover {
    background-color: rgba(197, 197, 197, 0.85);
}

main {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    margin-bottom: 3em;
}

.main-title {
    width: 100vw;
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: .3em;
    text-align: center;
    font-family: 'Inter', sans-serif;
}


footer {
    width: 100vw;
    height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#footer-info {
    width: 80vw;
    height: 30vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    color: white;
}

#contact-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#xtra-info {
    font-size: 1rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-decoration: none;
    color: white;
}

#socials {
    display: flex;
    height: 50vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

#socials a {
    text-decoration: none;
}

#socials a img {
    width: 2em;
}

#title, #copyright {
    animation: none;
}


footer ul {
    list-style: none;
    text-align: center;
}

li a {
    color:white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

a:hover {
    animation: shake 00.75s;
}

footer {
    width: 100vw;
    height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-info {
    width: 80vw;
    height: 30vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    color: white;
}

#contact-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#xtra-info {
    font-size: 1rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-decoration: none;
    color: white;
}

#socials {
    display: flex;
    height: 50vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

#socials a {
    text-decoration: none;
}

#socials a img {
    width: 2em;
}

#news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.25em;
}


.htitle-vc {
    font-weight: 500;
    font-style: italic;
    font-size: 1.25rem;
}
.members {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.members div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto auto;
}

.members section {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 5vh;
}

.researchers, .students {
    font-size: 1.5rem;
}

.researchers ul li p, .students ul li p {
    font-size: 1.25rem;
    padding-bottom: 5px;
}

.researchers ul li {
    margin-bottom: 1rem;
}

.students ul li {
    margin-bottom: 0.5rem;
}

.researchers h2, .students h2 {
    margin-bottom: 0.5rem;
}

#title, #copyright {
    animation: none;
}


ul, li {
    list-style-type: none;
}

@media screen and (max-width: 1200px) {
    header {
        position: fixed;
        width: 100%;
        height: 15vh;
        z-index: 99;
        top: 0;
    }

    #contact-hamburger {
        display: inline;
    }

    .hamburger {
        display: block;
    }

    .navlinks {
        flex-direction: column;
    }
    .navlinks, .cta {display: none;}
    .navlinks.show {
        display: grid;
        border: 2px solid red;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: auto;
        position: fixed;
        font-size: 1.2rem;
        top: 15vh;
        left: 0;
        justify-content: center;
        background-color: black;
        color: white;
        width: 100vw;
        height: auto;
        border: 5px solid black;
        gap: 1.2em;
        padding: 0 2em 1em 2em;
    }

    .navlinks.show li {
        align-items: center;
        text-align: center;
    }

    .navlinks.show .full {
        padding: 0;
    }

    .navlinks.show li a {
        color: white;
    }
    
    #fi {
        color: white;
        text-align: center;
        background-color: black;
        padding: 0;
        font-size: 1.3rem;
}
}


@media screen and (max-width: 550px) {
    #footer-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #footer-info {
        height: auto;
        text-align: center;
    }
    #footer-info h2 {
        margin-bottom: 2vh;
    }

    #contact-us {
        margin-bottom: 60px;
        width: auto;
        padding: 2em;
    }

    .members {
        width: auto;
    }
}


section img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    text-align: center;
}