#contact {
    padding: 1em 1.5em;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
}

#contact:hover {
    background-color: rgba(197, 197, 197, 0.85);
}

main {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    margin-bottom: 3em;
}

.main-title {
    width: 100vw;
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: .3em;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

a:hover {
    animation: shake 00.75s;
}

#news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.25em;
}

.htitle-vc {
    font-weight: 500;
    font-style: italic;
    font-size: 1.25rem;
}
.members {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.members div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto auto;
}

.members section {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 5vh;
}

.researchers, .students {
    font-size: 1.5rem;
}

.researchers ul li p, .students ul li p {
    font-size: 1.25rem;
    padding-bottom: 5px;
}

.researchers ul li {
    margin-bottom: 1rem;
}

.students ul li {
    margin-bottom: 0.5rem;
}

.researchers h2, .students h2 {
    margin-bottom: 0.5rem;
}

#title, #copyright {
    animation: none;
}


ul, li {
    list-style-type: none;
}

@media screen and (max-width: 550px) {
    .members {
        width: auto;
    }
}

section img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    text-align: center;
}

#find-us {
    font-size: 2rem;
    margin-bottom: .5em;
    font-family: 'Inter', sans-serif;
}
