/* font import :) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.navbar-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: black;
    font-family: 'Inter', sans-serif;
    color: white;
    position: fixed;
}

.navbar {
    display: flex;
    width: 80vw;
    height: 10vh;
    justify-content: space-between;
}

.navbar .logos {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-size: 1rem;
    align-self: center;
    color: white;
    text-decoration: none;
    padding-left: 3vw;
}


#links {
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: space-around;
}

#links a {
    color: white;
    text-decoration: none;
}

.uni-logo {
    width: 6em;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.main-title {
    font-family: 'Inter', sans-serif;
    width: 40vw;
    align-self: center;
    font-size: 2.5rem;
    font-weight: 600vw;
}

.main-description {
    width: 40vw;
    align-self: center;
    font-family: 'Inter', sans-serif;
    text-align: end;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    color: white;
    background-color: black;
    padding: 2em 2em 1em 2em;
    align-items: flex-end;
}

.arrow {
    padding-top: 2vh;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

#description-container {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
}

#description {
    background-color: black;
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: center;
}


#description h2 {
    font-size: 2rem;
    color: white;
    width: 100%;
}

#description p {
    font-size: 1.25rem;
    color: white;
}

#description-center-box {
    display: flex;
    flex-direction: column;
    width: 85%;
}


#publications-info {
    height: 80vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: space-around;
    margin-top: 30vh;
    width: 100vw;
}

#publications-about {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
}

#publications-about h2 {
    font-size: 2rem;
    padding: 0vh 0 0 4vw;
}

#publications-about p {
    font-size: 1.25rem;
    padding: 1vh 0 0 4vw;
}

#publications-links {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    width: 50vw;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.3rem;
    grid-template-columns: 0.5fr;
    grid-template-rows: 1fr 1fr 0.1fr 1fr 1fr;
    grid-template-areas:
        "buffer1"
        "link1"
        "buffer2"
        "link2"
        "buffer3";
}

#link1 {
    grid-area: link1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link2 {
    grid-area: link2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-link {
    width: 2vw;
    padding-left: 1vw;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}


#publications-container {
    background-color: black;
    color: white;
    height: 60vh;
    width: 90vw;
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: space-around;
}

footer {
    width: 100vw;
    height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-info {
    width: 80vw;
    height: 30vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    color: white;
}

#contact-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#xtra-info {
    font-size: 1rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-decoration: none;
    color: white;
}

#socials {
    display: flex;
    height: 50vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

#socials a {
    text-decoration: none;
}

#socials a img {
    width: 2em;
}

a:hover {
    animation: shake 00.75s;
}

ul {
    list-style: none;
    text-align: center;
}

li a {
    color:white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.language {
    padding-left: 1vw;
    font-size: 0.8rem;
    display: flex;
}

.language p {
    padding: 0 0.5vw 0 0.5vw;
}

@media only screen and (max-width: 1150px) {
    #description-container {
        animation: none;
        flex-direction: column;
        align-items: center;
        height: 96vh;

    }

    #description {
        height: 45vh;
        width: 80vw;
    }

    #description-image {
        width: 80vw;
    }

    .navbar {
        height: 20vh;
        justify-content: center;
        flex-wrap: wrap;
        width: 100vw;
    }

    .logos {
        width: 60vw;
        justify-content: space-between;
    }


    #links {
        width: 100vw;
    }

    main {
        flex-direction: column;
    }

    .main-title {
        width: 90vw;
        padding: 10vh 0 6vh 0;
    }

    .main-description {
        width: 80vw;
        text-align: left;
    }

    #publications-info {
        height: 150vh;
    }

    #publications-about {
        width: 100%;
        height: 50%;
    }

    #publications-container {
        height: 100vh;
        flex-direction: column;
    }

    #publications-links {
        height: 30vh;
        width: 100%;
    }
}

#title, #copyright {
    animation: none;
}

@keyframes shake {
    0% {transform: translateX(0px);}
    50% {transform: translateX(5px);}
    100% {transform: translateX(0px);}
}

#home {
    font-style: italic;
}