
:root {
    --font-family: 'Inter';
    --main-color: black;
    --bg-color: white;
    --accent-color: yellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    padding-right: 20px;
    top: 0;
    left: 0;
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

header a img {
    height: 80px;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    letter-spacing: -.05em;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    letter-spacing: -.05em;
}

.main-nav i {
    cursor: pointer;
}

.open, .close {
    display: none !important;
}

.collapsible-nav {
    transform: translateX(100%);
    display: none;
    width: 100vw;
    height: calc(100svh - 80px);
    background-color: white;
    z-index: 999;
    position: fixed;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    gap: 20px;
    padding: 20px;
    top: 80px;
    transition: transform ease-in-out 0.4s;
}

@media only screen and (max-width: 600px) {
    .hide-1 {
        display: none;
    }
    
    .active {
        display: block !important;
    }

    .collapsible-nav {
        display: flex !important;
    }
}



.active-nav {
    transform: translateX(0) !important;
}


body {
    width: 100svw;
    margin-top: 80px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    font-size: 1.2rem;
}

li {
    font-size: 1.1rem;
}

footer {
    width: 83vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-block: 80px;
}

footer li {
    list-style: none;
}

.on {
    font-style: italic;
}

.icon-span {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
}

.navigation li::before, .socials li::before {
    content: "-> "
}

.socialsplusme {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
}

.echo {
    color: #919191;
    letter-spacing: -.06em;
    font-family: 'Libre Franklin';
}
@media only screen and (max-width: 375px) {
    footer {
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    footer h2 {
        display: none;
    }

    footer li {
        padding-block: 5px;
    }

    .socialsplusme {
        align-items: center;
    }

    .navigation li::before, .socials li::before {
        content: none;
    }

}