main {
    width: 100vw;
    height: auto;
    display: flex;
    width: 83svw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-container {
    width: 83vw;
}

.projects-container h1 {
    font-size: clamp(50px, 10vw, 100px);
    letter-spacing: -.05em;
    padding-bottom: 50px;
    text-align: center;
}

.projects {
    width: 100%;
    text-align: justify;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3em;
    justify-items: center;
}

.projects article {
    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.container {
    padding: 10px;
}

.projects article img {
    width: 100%;
    aspect-ratio: 2 / 1.5;
}

.other-studies {
    padding-top: 50px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.other-studies h2 {
    font-size: 1.4rem;
}
.other-studies h3 {
    font-size: 1.3rem;
}