main {
    width: 100vw;
    height: auto;
    display: flex;
    width: 83svw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pubs h1 {
    font-size: clamp(50px, 10vw, 100px);
    letter-spacing: -.05em;
    padding-bottom: 50px;
    text-align: center;
}

.pubs-ind {
    width: 100%;
    text-align: justify;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3em;
    justify-items: center;
}

.pubs.icon-span {
    font-size: 1.2rem;
    padding-block: 2px;
}