/* font import :) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#contact-hamburger {
    display: none;
}
.hamburger:focus {
    outline: none;
}

.hamburger {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 24px;
    display: none;
}

.hamburger:focus {
    outline: none;
}

header {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    color: white;
    font-family: 'Inter', sans-serif;
    height: 100px;
}

.header-container {
    display: flex;
    z-index: 101;
    padding: 30px 7% 15px 7%;
    width: 95vw;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    border-radius: 0 0 25px 25px;
}

.navlinks {
    list-style: none;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fin-arrow {
    text-align: right;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: 'Inter', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.full {
    padding: 0.5em;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}
main {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title {
    width: 80%;
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.subtitle-container {
    width: 80%;
    padding-bottom: 2em;
}

.project-brief {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-brief article {
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.infotext {
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
}

.join-us-box {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    padding: 1em;
    margin-bottom: 3em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-decoration: none;
}

.subtitle {
    width: 70%;
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.projects {
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 2em;
    justify-content: space-evenly;
}

.project {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 230, 230);
    color: rgb(107, 107, 107);
    border-radius: 10px;
    box-shadow: 10px 10px 2px rgb(244, 244, 244);
    position: relative;
}

.project a {
    text-decoration: none;
    color: inherit;
}

.project:hover {
    transform: translate(10px, 10px);
    box-shadow: 3px 3px 4px rgb(244, 244, 244);
}

.cover {
    width: 300px;
    height: 200px;
}

.project-info {
    font-family: 'Inter', sans-serif;
    min-height: 20vh;
    padding: 1em;
}

.project h1 {
    font-size: 1.5rem;
}

.project h2 {
    font-size: 1.1rem;
}

footer {
    width: 100vw;
    height: 80vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 30px 7% 15px 7%;
    width: 95vw;
    border-radius: 25px 25px 0 0;
}

#footer-info {
    width: 80vw;
    height: 30vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    color: white;
}

#contact-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contact-hamburger {
    display: none;
}

#xtra-info {
    font-size: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-decoration: none;
    color: white;
}

#socials {
    display: flex;
    height: 40vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

#socials a {
    text-decoration: none;
}

#socials a img {
    width: 2em;
}

a:hover {
    animation: shake 00.75s;
}

footer ul {
    list-style: none;
    text-align: center;
}

li a {
    color:white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
.logo {
    width: 5em;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    flex-direction: row;
}

.navlinks {
    list-style: none;
    text-align: right;
}

ul {
    list-style: none;
}


#contact {
    padding: 1em 1.5em;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#contact:hover {
    background-color: rgba(197, 197, 197, 0.85);
}

@media only screen and (max-width: 1200px) {

    header {
        position: fixed;
        width: 100%;
        height: 15vh;
        z-index: 99;
        top: 0;
    }

    #collab-studies-flexwrapper {
        flex-direction: column;
        text-align: center;
        gap: 1em;
    }

    #contact-hamburger {
        display: inline;
    }

    .hamburger {
        display: block;
    }

    .navlinks {
        flex-direction: column;
    }
    .navlinks, .cta {display: none;}
    .navlinks.show {
        display: flex;
        position: fixed;
        font-size: 1.2rem;
        top: 15vh;
        left: 0;
        text-align: center;
        justify-content: center;
        background-color: black;
        color: white;
        width: 100%;
        height: auto;
        min-height: 50vh;
        border-radius: 0 0 100px 100px;
        border: 5px solid black;
        padding: 0;
        gap: 1.15em;
    }

    .navlinks.show li {
        display: flex;
    }

    .navlinks.show .full {
        padding: 0;
    }

    .navlinks.show li a {
        color: black;
        background-color: white;
        padding: 0.75em 1em 0.75em 1em;
        border-radius: 50px;
    }

    #lan {
        display: block;
    }
    #fi {
        color: white;
        background-color: black;
        padding: 0;
        font-size: 1.3rem;
        margin: 1em 0 0.75em 0;
    }
}

@media screen and (max-width: 767px) {
    header {
        position: fixed;
        width: 100%;
        height: 15vh;
        z-index: 99;
        top: 0;
    }

    #contact-hamburger {
        display: inline;
    }   

    .hamburger {
        display: block;
    }
}

#title, #copyright {
    animation: none;
}

@media only screen and (max-width: 820px) {
    main {
        flex-direction: column;
    }

    .main-title {
        padding-bottom: 2vh;
    }

}


@media screen and (max-width: 550px) {
    #footer-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact-us {
        margin-bottom: 60px;
    }
}
 
#fi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}

#news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.25em;
}