/* font import :) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#contact-hamburger {
    display: none;
}
.hamburger:focus {
    outline: none;
}

.hamburger {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 24px;
    display: none;
}

.hamburger:focus {
    outline: none;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index: 100;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10% 30px 10%;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    height: 100px;
}

.navlinks {
    list-style: none;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    padding: 0.5em;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.main-description {
    width: 100%;
    height: auto;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    color: black;
    background-color: white;
    align-items: flex-start;
}

.main-description ul {
    padding-bottom: 3vh;
}

main {
    height: fit-content;
    padding-top: 150px;
}

#textbox {
    width: auto;
    padding: 0 3vw 0 3vw;
}

#textbox a {
    color: black;
    text-decoration: underline;
    font-weight: 600;
}

#textbox li {
    padding-bottom: 2vh;
}

#textbox h1 {
    padding-bottom: 4vh;
}


.main-title {
    font-family: 'Inter', sans-serif;
    width: auto;
    align-self: center;
    font-size: 2.5rem;
    font-weight: 600vw;
    padding: 6vh 0 6vh 3vw;
}


.vcards {
    width: 60vw;
    padding-top: 20vh;
    font-family: 'Inter', sans-serif;
    display: grid;
    font-size: 1.25rem;
    grid-template-columns: 30vw 30vw;
}

footer {
    width: 100vw;
    height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#footer-info {
    width: 80vw;
    height: 30vh;
    display: flex;
    font-family: 'Inter', sans-serif;
    color: white;
}

#contact-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#xtra-info {
    font-size: 1rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-decoration: none;
    color: white;
}

#socials {
    display: flex;
    height: 50vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

#socials a {
    text-decoration: none;
}

#socials a img {
    width: 2em;
}

a:hover {
    animation: shake 00.75s;
}

footer ul {
    list-style: none;
    text-align: center;
}

li a {
    color:white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
.logo {
    width: 5em;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7379%) hue-rotate(68deg) brightness(113%) contrast(98%);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    flex-direction: row;
}

ul {
    list-style: none;
}


#contact {
    padding: 1em 1.5em;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    white-space: pre;
}

#contact:hover {
    background-color: rgba(197, 197, 197, 0.85);
}

@media only screen and (max-width: 800px) {
    #description-container {
        animation: none;
        flex-direction: column;
        align-items: center;
        min-height: 96vh;

    }

    #description {
        width: 90%;
        padding: 1em 0 1em 0;
    }

    #description-image {
        width: 90%;
        max-width: none;
    }

    main {
        flex-direction: column;
    }

    .main-description {
        width: 80vw;
        text-align: left;
    }

    #publications-info {
        height: auto;
    }

    #publications-container {
        flex-direction: column;
        max-height: none;
        padding: 1em 0 1em 0;
    }

    #publications-about {
        width: 90%;
    }

    #publications-links {
        height: 30vh;
        width: 80%;
        align-self: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 1fr 1.5fr;
        grid-template-areas:
            "buffer1 buffer1"
            "link1 link2"
            "buffer2 buffer2";
    }
    #link1, #link2 {
        width: 100%;
        display: flex;
    }
    #center-link1, #center-link2 {
        align-items: center;
        width: 80%;
        justify-content: center;
    }

    header {
        position: fixed;
        width: 100%;
        height: 15vh;
        z-index: 99;
        top: 0;
    }

    #contact-hamburger {
        display: inline;
    }

    .hamburger {
        display: block;
    }

    .navlinks {
        flex-direction: column;
    }
    .navlinks, .cta {display: none;}
    .navlinks.show {
        display: flex;
        position: fixed;
        font-size: 1.2rem;
        top: 15vh;
        left: 0;
        text-align: center;
        justify-content: center;
        background-color: black;
        color: white;
        width: 100%;
        height: auto;
        min-height: 50vh;
        border-radius: 0 0 100px 100px;
        border: 5px solid black;
        padding: 0;
    }

    .navlinks.show li {
        margin-bottom:2.5em;
    }

    .navlinks.show .full {
        padding: 0;
    }

    .navlinks.show li a {
        color: black;
        background-color: white;
        padding: 0.75em 1em 0.75em 1em;
        border-radius: 50px;
    }

    #lan {
        display: block;
    }
    #en {
        color: white;
        background-color: black;
        padding: 0;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 767px) {    
    #publications-links {
        width: 80%;
        align-self: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "link1"
            "link2";
    }
    #link1, #link2 {
        width: 100%;
        display: flex;
    }
    #center-link1, #center-link2 {
        align-items: center;
        width: 100%;
        justify-content: center;
    }

}

#title, #copyright {
    animation: none;
}

#publications {
    font-weight: 700;
}

@media only screen and (max-width: 820px) {
    main {
        flex-direction: column;
    }

    .main-title {
        width: 90vw;
        padding-bottom: 2vh;
    }

    .main-description {
        width: 90vw;
        text-align: left;
    }
}



@media screen and (max-width: 550px) {
    #footer-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact-us {
        margin-bottom: 60px;
    }
}
 
#en {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}
#news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.25em;
}